{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="contents">This is Second page</h1>
<h1>자기소개</h1>
<img src="{% static 'images/logo.jpg' %}" alt="Logo" width="200" />
<form>
  <label>이름: <input type="text" name="name" /></label><br />
  <label> 성별: <input type="text" name="hobby" /></label><br />
  <label>취미: <input type="text" name="food" /></label><br />
  <label>mbti: <input type="text" name="mbti" /></label><br />

  <button type="submit">제출</button>
</form>
{% endblock %}
